@model Idea
<div class="header d-flex justify-content-end">
    <a class="mr-5"href="/bright_ideas">Bright Ideas</a>
    <a href="/logout">Logout</a></a>
</div>
<hr>
<div class="row">
    <div class="col-4">
        @Model.Author.Name says
    </div>
    <div class="col-8 border border-dark">
        @Model.Content
    </div>
</div>
<h3>People who liked this post:</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Alias</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var user in Model.LikedBy)
    {
        <tr>
            <td><a href="/users/@user.UserId">@user.AssociatedUser.Alias</a></td>
            <td>@user.AssociatedUser.Name</td>
        </tr>
    }
    </tbody>
</table>